<div class="container-fluid">
<h2 class="text-center justify-content-center pt-4 pb-3 text-white">Nasze usługi</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 pb-5">
  <div class="col">
    <div class="card">
      <img src="/static/images/FDM.avif" class="card-img-top img-fluid" alt="BambuLab 3D printer printing 3D benchy " width="1500" height="1129">
      <div class="card-body">
        <h2 class="card-title text-white">Precyzyjny Druk 3D Warstwowy</h2><br>
        <p class="card-text text-white">Nasze drukarki FDM wykorzystują zaawansowany proces modelowania przez nanoszenie stopionego materiału, warstwa po warstwie, aby stworzyć trójwymiarowe obiekty. Dzięki naszym drukarkom możemy osiągnąć warstwę o grubości zaledwie 0.12 - 0.2 mm. Nasze urządzenia pozwalają na drukowanie nawet dużych elementów o rozmiarach do 500x500x500 mm. Jesteśmy gotowi nie tylko wydrukować Twoje projekty, ale także pomóc Ci w ich zaprojektowaniu i dostarczyć precyzyjne, funkcjonalne części.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/images/SLA.avif" class="card-img-top img-fluid" alt="Resin printer macro picture" width="1500" height="1129">
      <div class="card-body">
        <h2 class="card-title text-white">Doskonałe Detale z drukiem żywicowym!</h2><br>
        <p class="card-text text-white">Nasze drukarki żywicowe oferują niesamowitą precyzję przy minimalnej grubości warstwy wynoszącej zaledwie 0.05 mm. Proces polega na utwardzaniu żywicy za pomocą promieniowania UV, co pozwala uzyskać wyjątkowo drobne detale i gładkie powierzchnie. To idealne rozwiązanie dla projektów wymagających małych, szczegółowych elementów, takich jak biżuteria, modele prototypowe czy elementy medyczne.</p>
      </div>
    </div>
  </div>
      <div class="col">
    <div class="card">
      <img src="/static/images/design.webp" class="card-img-top img-fluid" alt="Transparent simulation in solidworks CFD" width="679" height="509">
      <div class="card-body">
        <h2 class="card-title text-white">Inteligentne Projektowanie na Żądanie</h2><br>
        <p class="card-text text-white">Nasze usługi projektowania 3D są napędzane potężną sztuczną inteligencją. Wystarczy opisać nam swój projekt i wysłać e-mail, a my użyjemy mocy AI do stworzenia idealnej części lub projektu. Oferujemy także generatywne projektowanie, które pozwala na eksplorację nowych, innowacyjnych rozwiązań. Niezależnie od tego, czy potrzebujesz spersonalizowanego produktu, czy też rozwiązania inżynieryjnego, jesteśmy gotowi sprostać Twoim potrzebom projektowym.</p>
      </div>
    </div>
  </div>
</div>
</div>