<div class="accordion accordion-flush" id="accordionFlushExample">
   <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         Jak działa usługa projektowania 3D?
         </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body text-white">
            <p>
               Nasza usługa projektowania 3D jest prosta i efektywna. Wystarczy, że wyślesz nam e-mail z opisem Twojego projektu oraz dostarczysz zdjęcia i wymiary, a my zajmiemy się resztą. Nasz zespół stworzy dla Ciebie prototyp, który dostarczymy, abyś mógł ocenić naszą pracę. Działamy szybko i precyzyjnie, aby spełnić Twoje potrzeby.
            </p>
         </div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
         Kiedy warto wybrać druk żywicowy?
         </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body text-white">Druk żywicowy to doskonałe rozwiązanie, gdy zależy Ci na wyjątkowych detalach w Twoim modelu. Oferuje on możliwość wydruku modelu z drobnymi szczegółami, znacznie bardziej niż standardowa drukarka FDM. Dodatkowo, efekty końcowe wymagają zazwyczaj mniej prac pośrednich, aby uzyskać produkt o gotowym wyglądzie. Warto jednak pamiętać, że drukarki żywiczne często posiadają mniejsze powierzchnie robocze niż drukarki FDM, co może ograniczyć rozmiar drukowanych elementów.</div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
         <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
         Na czym polega generatywne projektowanie?
         </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body text-white">Generatywne projektowanie to proces eksploracji projektowej. Projektanci lub inżynierowie wprowadzają cele projektowe do oprogramowania generatywnego projektowania, wraz z parametrami takimi jak wydajność, wymagania przestrzenne, materiały, metody produkcji i ograniczenia kosztowe. Dzięki temu oprogramowaniu można eksperymentować i generować różne koncepcje projektowe, które spełniają określone kryteria, co przyspiesza proces projektowania i pozwala odkryć nowe, innowacyjne rozwiązania.</div>
      </div>
   </div>
   </div>
</div>