<div class="container px-4 py-5 text-center">
  <div class="row g-4 py-5">
    <div class="col-lg-6 p-4 order-lg-first">
      <img src="{{ url_for('static', path='/images/SLA.avif') }}" class="img-fluid rounded-4 shadow-lg" alt="">
    </div>
    <div class="col-lg-6 my-auto order-md-first">
      <h1 class="display-3 text-body-emphasis">SLA</h1>
      <p>SLA (Stereolithography) to technologia druku 3D oparta na utwardzaniu żywicy światłem UV. Zapewnia wysoką jakość i dokładność wydrukowanych obiektów. Mimo że druk SLA może być nieco droższy niż inne metody, jego zdolność do tworzenia skomplikowanych i precyzyjnych detali czyni go popularnym wyborem dla profesjonalnych projektów i prototypów.</p>

    </div>
  </div>
</div>
