<div class="container px-4 py-5 text-center">
  <div class="row g-4 py-5">
    <div class="col-lg-6 my-auto">
      <h1 class="display-3 text-body-emphasis">FDM</h1>
      <p>FDM (Fused Deposition Modeling) to technologia druku 3D polegająca na stopieniu i warstwowym nanoszeniu plastiku w celu tworzenia obiektów trójwymiarowych. Jest to popularna metoda druku 3D. Dzięki swojej popularności FDM jest również dostępny w przystępnych cenach, co czyni go atrakcyjnym rozwiązaniem dla szerokiej grupy klientów.</p>
    </div>
    <div class="col-lg-6 p-4">
      <img src="{{ url_for('static', path='/images/FDM.avif') }}" class="img-fluid rounded-4 shadow-lg" alt="" >
    </div>
  </div>
</div>
