<div class="text-center p-3">
    <img src="/static/images/logo.svg" class="img-fluid" alt="" width="144" height="144" style="height: 144px; width: auto;">
    <h1 class="display-1 fw-bold text-body-emphasis" style="font-family: 'Montserrat Alternates', sans-serif;">Rapid Maker</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead text-white">W RapidMaker specjalizujemy się w druku 3D i projektowaniu generatywnym. Szybka wycena, indywidualny design na zamówienie, realizacja w ekspresowym tempie!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center justify-content-center pb-4">
            <button type="button" class="btn btn-success btn-lg" style="width: 200px;" onclick="CenteredScrollToElement('#wycena')">Wycena Online</button>
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px;" onclick="scrollToElement('#kontakt')">Kontakt</button>
        </div>
    </div>
</div>
