<div class="container mt-1 mb-5 table-responsive">
    <h2 class="text-center justify-content-center pt-4 pb-3 text-white">Parametry naszych materiałów</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Materiał</th>
                <th>Sztywność</th>
                <th>Trwałość</th>
                <th>Wytrzymałość</th>
                <th>Odporność na ciepło</th>
                <th>Odporność chemiczna</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Flex Resin</td>
                <td>⚪</td>
                <td>⚪</td>
                <td>⚪⚪⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪⚪⚪</td>
            </tr>
            <tr>
                <td>Nylon Resin</td>
                <td>⚪</td>
                <td>⚪⚪⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪⚪</td>
                <td>⚪⚪⚪⚪⚪</td>
            </tr>
            <tr>
                <td>ABS Resin</td>
                <td>⚪</td>
                <td>⚪⚪⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪⚪⚪</td>
            </tr>
            <tr>
                <td>ABS</td>
                <td>⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪⚪</td>
            </tr>
            <tr>
                <td>PLA</td>
                <td>⚪⚪⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪⚪</td>
                <td>⚪</td>
                <td>⚪</td>
            </tr>
            <tr>
                <td>PC</td>
                <td>⚪⚪⚪⚪⚪</td>
                <td>⚪⚪⚪⚪⚪</td>
                <td>⚪⚪⚪⚪⚪</td>
                <td>⚪⚪⚪⚪⚪</td>
                <td>⚪⚪⚪⚪⚪</td>
            </tr>
            <tr>
                <td>TPU</td>
                <td>⚪</td>
                <td>⚪⚪⚪⚪</td>
                <td>⚪</td>
                <td>⚪⚪</td>
                <td>⚪⚪⚪⚪</td>
            </tr>
        </tbody>
    </table>
</div>
