<div class="container mt-1 mb-5">
    <h2 class="text-center pt-4 pb-3 text-white">Materiały do druku FDM</h2>
    <div class="row">
        <div class="col-md-12">
            <h3>PLA</h3>
            <p>Najtańszy materiał do druku. Niska odporność na ciepło, dobra wytrzymałość. Idealny materiał do ogólnych zastosowań.</p>
        </div>
        <div class="col-md-12">
            <h3>ABS</h3>
            <p>ABS (akrylonitryl-butadien-styren) to materiał o dobrej wytrzymałości i odporności na uderzenia. Jest odporny na zużycie i chemiczne środowisko. Nadaje się do druku części wymagających wytrzymałości mechanicznej i stabilności wymiarowej, takich jak prototypy, obudowy elektroniczne itp.</p>
        </div>
        <div class="col-md-12">
            <h3>ASA</h3>
            <p>ASA (akrylonitryl-styrenowy akrylan) charakteryzuje się wysoką odpornością na warunki atmosferyczne, promieniowanie UV oraz chemikalia. Jest doskonałym materiałem do druku części zewnętrznych, które będą eksponowane na zewnątrz.</p>
        </div>
        <div class="col-md-12">
            <h3>Nylon PA12 + CF</h3>
            <p>Nylon PA12 z włóknem węglowym (CF) to materiał cechujący się wyjątkową wytrzymałością i sztywnością. Idealny do druku części wymagających dużego obciążenia mechanicznego i stabilności wymiarowej.</p>
        </div>
        <div class="col-md-12">
            <h3>PC</h3>
            <p>Poliwęglan (PC) jest materiałem o wysokiej wytrzymałości i odporności na uderzenia. Charakteryzuje się także dobrą odpornością chemiczną i termiczną. Nadaje się do druku części wymagających trwałości i odporności na warunki zewnętrzne.</p>
        </div>
        <div class="col-md-12">
            <h3>TPU</h3>
            <p>Termoplastyczny poliuretan (TPU) jest elastycznym materiałem, który charakteryzuje się dużą elastycznością i odpornością na zużycie. Jest idealny do druku części wymagających elastyczności, takich jak uszczelki, amortyzatory itp.</p>
        </div>
        <div class="col-md-12">
            <h3>PET-G</h3>
            <p>PET-G (poli(etylenotereftalan glikolu)) to materiał o dobrej wytrzymałości mechanicznej. Jest również odporny na uderzenia i termicznie stabilny. Nadaje się do druku części wymagających dużych wymiarów i wysokiej wytrzymałości, takich jak opakowania, figurki, itp.</p>
        </div>
    </div>
</div>
