<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
   <head>
      {% include "include/head.html" %}
   </head>
   <body>
      {% include "include/main.html" %}
      {% include "include/devider.html" %}
      {% include "include/cards.html" %}
      {% include "include/devider.html" %}
      {% include "include/how_it_works.html" %}
      {% include "include/devider.html" %}
      {% include "include/wycena.html" %}
      {% include "include/devider.html" %}
      {% include "include/material_properties.html" %}
      {% include "include/devider.html" %}
      {% include "include/kontakt.html" %}
      {% include "include/devider.html" %}
      {% include "include/faq.html" %}
   </body>
</html>