<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  {% include "include/head.html" %}
</head>

<body>
  {% include "include/main.html" %}
  {% include "include/devider.html" %}
  {% include "include/how_it_works.html" %}
  {% include "include/devider.html" %}
  {% include "include/image_gablote.html" %}
  {% include "include/devider.html" %}
  {% include "include/image_gablote_2.html" %}
  {% include "include/devider.html" %}
  {% include "include/wycena.html" %}
  {% include "include/devider.html" %}
  {% include "include/kontakt.html" %}

</body>
</html>
